// app global css

.shadow-global
  box-shadow 1px 3px 10px rgba(0, 0, 0, 0.13)

.flex-1
  flex 1

.card
  border-radius 5px

// Animation

@keyframes pop
  0%
    opacity 0
    transform scale(.7)
  70%
    opacity 1
    transform scale(1.07)
  100%
    transform scale(1)

@keyframes fade
  0%
    opacity 0
  100%
    opacity 1

.animate-pop
  animation pop .2s

.animate-fade
  animation fade .2s